/vendor
/node_modules
/.env
/.env.backup
/database/database.sqlite
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
*.md
*.log
/android/.gradle
/android/app/build
/android/build
/android/capacitor-android/build
